---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Apr 2022 - Present · 2 yrs 5 months",
    title: "Senior Product Designer",
    company: "Koombea",
    description:
      `Currently working in a Product with focus in sustainability , creating a B2C product to help companies to get more efficient and track their emissions. 
      - My main task here it's work with stakeholders and help move their ideas into flows and organize the Architecture Information
      - Incorporate Artificial intelligence across the app to leverage the experience of the users
      - This is a Desktop Based webApp`,
    link: "https://www.koombea.com/",
  },
  {
    date: "May 2021 - Mar 2022 | 11 months",
    title: "UX Designer",
    company: "Southern Code",
    description: 
      `SouthernCode, is a company that offer staff augmentation to different clients from the U.S, CA, NZ and MX.
      I collaborated with two main projects:
      - A car aucctioner where across four months I create an MVP who completes the bussines expectations and improve the experience of how the users find cars. For that I organized the Information Architecture and mapped all the experience and created the UI that was based in their Design system.
      - Also worked with a Market Exchange where I we incorporate a new module to the current plattform that they have, learned a lot of how the market capital works, thanks for the amazing team that teach us a lot about the industry and support us with the commitment of the experience we archieved a product that can understand the User Interaction and match the bussines goals. So we offer a great experience with less efforts in implementation`,
  },
  {
    date: "Dec 2019 - May 2021 | 1 yr 6 months",
    title: "HMI UX/UI Designer",
    company: "VOLT Motors",
    description:
      `Volt motors are a startup which designs, develops and manufactures 100% electric cars. 
      I was in charge of improving the user experience end to end by doing Automotive Design.
      Working with the interdisiplinary team I archieved the goal by creating the flows and all the views for the car, 
      improving the way of how the users access to the car functionalities and reducing the cognitive load in all their features.`,
  },
  {
    date: "Jan 2019 - Dec 2019 | 1 yr",
    title: "UX/UI Designer",
    company: "PickMe",
    description:
      "Pickme is a startup which offers carpooling as a means of transport in the city. During a year I worked as Principal UX Designer and I completed the initial research, Prototyping in Lo-Fi and High-Fi Definition, and conducting User Testing.",
  },
  {
    date: "Jan 2017 - Jan 2019 | 2 yrs 1 mo",
    title: "Web Designer",
    company: "CER",
    description:
      "CER is a Spanish marketing agency. I Worked as web designer creating web templates in HTML - CSS - JS",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
